<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref="/login" (click)="cancel()"></ion-back-button>
      </ion-buttons>
      <div class="toolbarTitle">Registración</div>
   </ion-toolbar>
</ion-header>

<ion-content padding style="--ion-background-color: radial-gradient(#ffffff, #c1c1c1);">
   <form [formGroup]="validations_form" class="backForm" (ngSubmit)="save(validations_form.value)">
      <ion-grid>
         <ion-row justify-content-center style="margin-bottom: 30px">
            <ion-avatar class="fichaAvatar">
               <img [src]="fotoUrl">
               <div class="editFoto" *ngIf="isMobile" (click)="chooseFileMobile()">
                  CAMBIAR
               </div>
               <label for="photoEdit" *ngIf="!isMobile">
                  <div class="editFoto">
                     SUBIR
                  </div>
               </label>
            </ion-avatar>
            <input type="file" style="display: none" id="photoEdit" #file (change)="chooseFileBrowser($event)" />
         </ion-row>
         <ion-row align-items-center justify-content-center>
            <ion-col>
               <input formControlName="displayName" type="text" placeholder="Nombre de usuario">
               <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.displayName">
                     <div class="error-message"
                        *ngIf="validations_form.get('displayName').hasError(validation.type) && (validations_form.get('displayName').dirty || validations_form.get('displayName').touched)">
                        {{ validation.message }}
                     </div>
                  </ng-container>
               </div>
            </ion-col>
            <ion-col class="grdItem">
               <div class="campo">
                  Administrador
               </div>
               <input class="switch" type="checkbox" (change)="changeRole($event)" />
            </ion-col>
         </ion-row>
         <ion-row align-items-center justify-content-center>
            <input formControlName="email" type="text" placeholder="Correo electrónico">
            <div class="validation-errors">
               <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message"
                     *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                     {{ validation.message }}
                  </div>
               </ng-container>
            </div>
         </ion-row>
         <ion-row>
            <input formControlName="password" type="password" placeholder="Contraseña">
            <div class="validation-errors">
               <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message"
                     *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                     {{ validation.message }}
                  </div>
               </ng-container>
            </div>
         </ion-row>
      </ion-grid>

      <ion-row align-items-center justify-content-center>
         <button class="glass btnEdit" expand="block" type="submit" [disabled]="!validations_form.valid">Registrarse</button>
      </ion-row>
   </form>

</ion-content>


<!--
   Classes:
   ========
   switch
 * validation-errors

   App.css
   ========
   toolbarTitle
   backForm
   fichaAvatar
   editFoto
   fotoEdit
   error-message

   Buttons.css
   ===========
   glass
   btnEdit


   Bindings:
   =========
   validations_form
   fotoUrl
   isMobile
   validation_messages
   

   Methods:
   ========
   cancel()
   save()
   chooseFileMobile()
   chooseFileBrowser()
   changeRole()

-->