.userName{
   text-align: center;
   font-size: 15px;
}
.userEmail{
   text-align: center;
}
.userImage{
   width: 200px;
   margin: auto;
   padding: 10px;  
}

.userProvider {
   text-align: center;
   margin: 10px;
}

.userUid {
   text-align: center;
   font-size: 10px;
   margin: 10px 0px;
}