<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div *ngIf="user.displayName != ''">
      <div class="userName">Welcome, {{user.displayName}}</div>
      <div class="userEmail">{{user.email}}</div>
      <div class="userImage">
         <img [src]="user.photoURL">
      </div>
      <div class="userProvider">{{user.provider}}</div>
      <div class="userUid">{{user.uid}}</div>
      <ion-button fill="solid" expand="block" color="dark" (click)="logout()">Logout</ion-button>
   </div>
</ion-content>
