<app-tool-head>
   <ion-title>Eventos</ion-title>
</app-tool-head>

<ion-content>
   <ion-item style="--ion-background-color: linear-gradient(#ddd, #fff);">
      <ion-icon name="person" class="filterIcon" slot="start"></ion-icon>
      <ion-label position="floating" class="txtCriteria" style="font-size: 16px !important;padding-top: 4px;">Buscar evento</ion-label>
      <ion-input type="text" [(ngModel)]="criteria" class="filterInput"></ion-input>
      <div slot="end" class="sortPanel">
         <div class="sortBy">{{getSortName()}}</div>
         <ion-icon name="{{getIcon()}}" class="sortName searchIcon"></ion-icon>
      </div>
   </ion-item>

   <!-- <div class="grdSearchBar">
      <ion-icon name="search" class="searchIcon" style="padding-left:10px"></ion-icon>
      <ion-input type="text" class="searchBar" placeholder="Buscar Evento" [(ngModel)]="searchText"></ion-input>
      <div class="sortBy">{{getSortName()}}</div>
      <ion-icon name="{{getIcon()}}" class="sortName searchIcon"></ion-icon>
      <div></div>
   </div> -->

   <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tire para refrescar" refreshingSpinner="circles"
         refreshingText="Refrescando...">
      </ion-refresher-content>
   </ion-refresher>

   <ion-list *ngIf="events">
      <ion-item-sliding class="eventCard"
         *ngFor="let evt of events | searchInfo: searchText | orderBy:sortField:direction ">
         <ion-item class="grdEvent" [ngClass]="{'evtClosed' : evt.estimatedDate < today }" (click)="showEvent(evt, i)">
            <div>
               <strong>{{evt.name}}</strong>
            </div>
            <div>
               {{evt.description}}
            </div>
            <div>
               <strong>Creacion:</strong> {{evt.creationDate | date:'dd/MM/yyyy HH:mm'}}
            </div>
            <div>
               <strong>Ult.mod.:</strong> {{evt.modificationDate | date:'dd/MM/yyyy HH:mm'}}
            </div>
            <div class="adminFlag" *ngIf="evt.owner === userInfo.uid">
               <img src="assets/imgs/crown.png">
            </div>
            <div class="adminFlag" *ngIf="evt.owner != userInfo.uid">
               <img src="{{evt.ownerPhotoURL}}">
            </div>
            <div class="eventType">
               <img src="{{evalTypeIcon(evt.type)}}">
            </div>
         </ion-item>
         <ion-item-options side="right">
            <button ion-button (click)="removeEvent(evt, i)" *ngIf="evt.owner === userInfo.uid" color="danger">
               <ion-icon name="trash"></ion-icon> Eliminar
            </button>
         </ion-item-options>
         <ion-item-options side="left">
            <button ion-button (click)="showEvent(evt, i)" color="primary">
               <ion-icon name="calendar"></ion-icon> Entrar
            </button>
            <button ion-button (click)="editEvent(evt, i)" *ngIf="evt.owner === userInfo.uid" color="secondary">
               <ion-icon name="create"></ion-icon> Editar
            </button>
         </ion-item-options>
      </ion-item-sliding>
   </ion-list>

   <ion-fab class="btnSort" vertical="top" horizontal="end" class="glass glRound" style="position: absolute" >
      <ion-fab-button>
         <ion-icon name="funnel"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
         <ion-fab-button class="glass glRound btnFab" (click)="getSortedEvents('creationDate')" >
            <ion-icon name="calendar"></ion-icon>
         </ion-fab-button>
         <ion-fab-button class="glass glRound btnFab" (click)="getSortedEvents('name')">
            <ion-icon name="create"></ion-icon>
         </ion-fab-button>
      </ion-fab-list>
   </ion-fab>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="glass glRound" style="position: fixed;">
      <ion-fab-button (click)="addEvent()">
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>
</ion-content>


<!--

Classes:
========
sortBy
eventCard
grdEvent
adminFlag
eventType
btnAddEvent
btnSort

*sortName
*searchIcon
*evtClosed


app.scss:
=========
filterIcon
txtCriteria
filterInput



Bindings:
=========
criteria
events
searchText
sortField
direction
evt


Methods:
========
getSortName()
getIcon()
doRefresh()
showEvent()
removeEvent()
evalTypeIcon()
editEvent()
addEvent()
getSortedEvents()


-->